<footer class="h-50">
    <div class="container">
        <div class="row">
            <div class="icon_container">
                <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="icon_container">
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>