<footer class="h-50 pt-4 pb-4 mt-5" style="background-color: rgb(243, 240, 240);">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="icon_container">
                <i class="fa-brands fa-facebook fa-2xl"></i>
            </div>
            <div class="icon_container">
                <i class="fa-brands fa-instagram fa-2xl"></i>
            </div>
            <div class="icon_container">
                <i class="fa-brands fa-linkedin fa-2xl"></i>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <span class="footer_site_links"> <a href="#">&copy; WanderLust, Inc. </a></span>
            <span class="footer_site_links"> <a href="#">Terms </a></span>
            <span class="footer_site_links"> <a href="#">Privacy Policy </a></span>
        </div>
    </div>
</footer>