a {
    text-decoration: none;
}

* {
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* Navbar */
.profile_pic {
    width: 40px;
    height: 40px;
    background-color: rgb(156, 158, 158);
    border-radius: 50%;
    text-align: center;
    padding: 6px;
    cursor: pointer;
}

.dropdown-menu {
    /* background-color: aqua; */
    left: -9rem !important;
}

.dropdown-menu li {
    padding: 0.5rem;
    cursor: pointer;
}


.dropdown-item {
    display: inline !important;
}

/* homepage card */
.card_image {
    height: 13rem;
}

.shadow-card {
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
}

.shadow-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Alert messages */
@keyframes alert_messages_animation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(65px);
    }

    65% {
        transform: translateY(65px);
    }

    75% {
        transform: translateY(-25px);
    }

    85% {
        transform: translateY(-40px);

    }

    100% {
        transform: translateY(0px);
        display: none;
    }
}



.alert_messages {
    position: absolute;
    top: 0px;
    right: 100px;
    padding: 5px;
    animation-name: alert_messages_animation;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
}

.alert_message_btn {
    padding-top: 1px !important;
}

/* footer icon */

.icon_container {
    width: auto;
}

.icon_container:hover {
    cursor: pointer;
}

.footer_site_links {
    margin: 1.2rem 1.2rem;
    color: black;
}