<% layout('layouts/user.ejs') -%>

    <body>

        <div class="container mt-3 w-75 shadow p-4 rounded">
            <a href="/listings" class="btn btn-secondary btn-sm mb-3 "> <i class="fa-solid fa-arrow-left"></i> Back</a>
            <h3>Add new listing</h3>
            <form action="/listings/addnew" method="post">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" type="text" class="form-control" id="title" placeholder="Enter title here"
                        required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" class="form-control" id="description" rows="3"
                        placeholder="Enter description here"></textarea>
                </div>
                <div class="mb-3">
                    <label for="imageURL" class="form-label">Image Link</label>
                    <input name="imageURL" type="text" class="form-control" id="imageURL"
                        placeholder="Enter image link here">
                </div>
                <div class="row">
                    <div class="mb-3 col-sm-12 col-md-6">
                        <label for="price" class="form-label">Price (Per Night)</label>
                        <input name="price" type="text" class="form-control" id="price" placeholder="Enter price here">
                    </div>
                    <div class="mb-3 col-sm-12 col-md-6">
                        <label for="country" class="form-label">Country</label>
                        <input name="country" type="text" class="form-control" id="country"
                            placeholder="Enter country here" required>
                    </div>
                </div>
                <div class="mb-3 ">
                    <label for="location" class="form-label">Location</label>
                    <input name="location" type="text" class="form-control" id="location"
                        placeholder="Enter location here" required>
                </div>
                <button type="submit" class="btn btn-primary"> <i class="fa-solid fa-floppy-disk"></i> Submit</button>
            </form>
        </div>
    </body>